*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
  
}
.child {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    justify-content: space-between; 
    background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,1) 16%, rgba(2,1,46,1) 34%, rgba(255,0,0,1) 100%);
border-radius: 10px;
}
h1{
    margin-bottom:20px ;
}
h3{
    margin-bottom: 10px; 
}
body{
    background-color: black;
}
.container{
    margin:20px;
}