*{
    /* reset values for browsers */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.child{
    width: 100px;
    height: 100px;
    background-color: #ff2323;
    text-align: center;
    padding-top: 25px;
}
.container{
    background-color: black;
    padding: 25px;
    height: 250px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.nav-bar{
    background-color: #bebebe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.logo img{
    width: 75px;
    height: 75px;
}
.links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

}
.links ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

}
.links ul li a{
    text-decoration: none;
    color: black;
}