*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: wheat;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-areas: "a a a a a"
                         "c c b b b"
                         "c c d d d"
                         "c c d d d"
                         "e e e e e";

    gap: 15px;
    height: 600px;

}
.box1{
    background-color: blueviolet;
    grid-area: a;

    border-radius: 10px;
    text-align: center;
}
.box2{
    background-color: brown;
    grid-area: b;
    border-radius: 10px;
    text-align: center;
}
.box3{
    background-color: orange;
    grid-area: c;
    height: 100%; 
    border-radius: 10px;
    text-align: center;
    width: 100px;
}
.box4{
    background-color: yellow;
    grid-area: d;
    height: 100%;
    border-radius: 10px;
    text-align: center;
}
.box5{
    background-color: seagreen;
    grid-area: e;   
    border-radius: 10px;
    height: 100%;
    text-align: center;
}
h2{
    text-align: center;
}