*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{

    padding: 10px;
    background-color:violet ;
    display: grid;
    
    grid-template-areas: "a a a . d "
                         "b b b b d"
                         "b b b b d"
                         ". . c c d"; 
    
}
.box1{
    background-color: blue;
    grid-area: a;

    
}
.box2{
    background-color:chartreuse;
    grid-area: b;
    height: 100px;
}
.box3{
    background-color: orange;
    grid-area: c;
}
.box4{
    background-color: red;
    grid-area: d;
}